html, body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}
h1{
    color: seashell;
    font-size: 50px;
}
h3{
    font-size: 21px;
    color: slategray;
}
span{
    color: aquamarine;
    text-decoration: underline;
    font-size: 16px;
}
.travel{
    font-weight: 300;
    font-size: 42px;
}
footer{
    text-align: right;
    color: slategray;
}